:root{
    --bg-header: #E27132;
    --bg-body: #FFFFFF;
    --bg-footer: #202020;
    --bg-red: #da0404;
    --bg-sostenibility: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------DEBUG------------- */
.debug{
    border: 2px dashed #008000;
}
/* ----------DEBUG------------- */

body{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}

/* UTILS */
.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}


/* HEADER */
header{
    background-color: var(--bg-header);
    color: white;
}
header .container{
    line-height: 30px;
    padding: 15px 0 10px 0;
}
header .container.d-flex{
    justify-content: space-between;
}
header .categories{
    list-style: none;
    font-weight: 500;
}
header .categories li a{
    text-decoration: none;
    color: white;
}
header .categories.d-flex{
    width: 200px;
    justify-content: space-between;
}
header .logo img{
    width: 150px;
}
header .menu{
    list-style: none;
}
header .menu li a{
    color: white;
}
header .menu.d-flex{
    width: 200px;
    justify-content: flex-end;
}
header .menu.d-flex li a{
    margin-left: 10px;
}

/* HOVER-HEADER */
header .categories li a:hover{
    color: black;
}
header .menu li a:hover{
    color: black;
}

/* MAIN */
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
    font-weight: lighter;
}

main .container{
    justify-content: space-between;
    padding: 30px 0;
}
main .container .card{
    width: 32%;
}
main .container .card .card-text{
    line-height: 22px;
}
main .container .card .new-price{
    color: var(--bg-red);
    font-weight: 600;
}
main .container .card .old-price{
    text-decoration:line-through;
}

main .container .card .card-img{
    position: relative;
    z-index: 1;
}
/* FAVORITE */
main .container .favorite{
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px 12px;
    font-size: 1.5em;
    z-index: 2;
}
main .container .favorite i:hover{
    color: var(--bg-red);
    cursor: pointer;
}

/* DISCOUNT */
main .container .card .discount{
    background-color: var(--bg-red);
    position: absolute;
    bottom: 40px;
    color: white;
    padding: 1px 7px;
    font-size: .8rem;
    z-index: 2;
}

/* SOSTENIBILITY */
main .container .card .sostenibility{
    background-color: var(--bg-sostenibility);
    position: absolute;
    bottom: 40px;
    left: 50px;
    padding: 1px 7px;
    font-size: .8rem;
    color: white;
    z-index: 2;
}
main .container .card#card-6 .sostenibility{
    position: absolute;
    bottom: 40px;
    left: 0;
}

/* IMMAGINI HOVER */
main .container .card .product-hover{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 0;
}
main .container .card:hover .product-hover{
    display: block;
}
